@font-face {
  font-family: Geometria;
  src: url(font.woff2) format(woff2),
  url(font.woff) format(woff),
  url(font.otf) format(opentype);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
