@import "mixins";



.calculatorWrapper  {
    position: relative;
    margin: auto;

    &:before {
        content: "";
        width: 100%;
        height: 100%;
        background: #FFFFFF;
        opacity: 0.2;
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        border-radius: 18px;
        position: absolute;
        display: block;
        margin-bottom: -100%;
    }
}
.calculator {
    margin: 40px 30px;
    width: 554px;
    z-index: 2;
    position: relative;
    /*height: 800px;*/
    padding: 15px 45px 45px;
    box-sizing: border-box;
    background: linear-gradient(155.23deg, #28518E 0%, #3A77D1 100%);
    box-shadow: 0 82px 158px rgba(0, 0, 0, 0.35), 0 24.7206px 47.6324px rgba(0, 0, 0, 0.228056), 0 10.2677px 19.7841px rgba(0, 0, 0, 0.175), 0 3.71362px 7.1555px rgba(0, 0, 0, 0.121944);
    border-radius: 18px;
    @include font_default;

    .calculator__divider {
        height: 1px;
        width: 100%;
        background-color: #fff;
        margin: 20px 0 35px;
    }

    .calculator__board {
        &__result {
            @include font-size(24px, 32px);
            font-weight: 500;
            vertical-align: bottom;
            height: 115px;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            @media screen and (max-width: 767px) {
                height: 80px;
                @include font-size(20px, 32px);
            }
        }

        &__input {
            margin-top: 30px;
            @include font-size(56px, 80px);
            font-weight: 700;
            @media screen and (max-width: 767px) {
                @include font-size(30px, 40px);
            }
        }

        &__result, &__input {
            text-align: right;
            color: #fff;
        }
    }

    .calculator__buttons {
        display: flex;
        flex-wrap: wrap;
        margin: -15px -10px;

        .calculator__buttons__line {
            display: flex;
            width: 100% ;
        }

        .calculator__buttons__button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25%;
            height: 80px;
            cursor: pointer;
            user-select: none;
            color: #fff;
            margin: 15px 10px;
            box-sizing: border-box;
            background-color: rgba(0, 0, 0,  0);
            border: 1px solid rgba(255, 255, 255, 0);
            font-weight: 500;
            overflow: hidden;
            @include font-size(36px, 88px);

            &:hover {
                border-color: rgba(255, 255, 255, 1);
            }

            &, &:hover {
                transition: border-color .15s ease;
            }

            @media screen and (max-width: 767px) {
                height: 30px;
                margin: 5px 10px;
                @include font-size(24px, 40px);
            }
        }

        .calculator__buttons__buttonCircle {
            &:before {
                content: "";
                padding-right: 80px;
                border-radius: 50%;
                position: absolute;
                padding-bottom: 80px;
            }
        }


        .calculator__buttons__buttonWhite {
            color: #2B589A;

            &:before {
                content: "";
                color: #2B589A;
                background-color: #fff;
                z-index: -1;
            }

            @media screen and (min-width: 768px) {

                &:hover {
                    border-color: rgba(0, 0, 0, 0);

                    &:before {
                        border-radius: 0;
                        width: 100px;
                    }
                }

                &, &:hover {
                    &:before {
                        transition: border-radius .15s ease, width .15s ease;
                    }
                }
            }
        }


        .calculator__buttons__buttonWhite, .calculator__buttons__buttonCircle {
            &:before {
                @media screen and (max-width: 767px) {
                    content: none;
                }
            }

            @media screen and (max-width: 767px) {
                color: #fff;
            }
        }

        @media screen and (max-width: 767px) {
            margin: -5px -10px;
        }
    }

    @media screen and (max-width: 767px) {
        width: auto;
    }
}