@import "public/fonts/geometria/500/normal/font";
@import "public/fonts/geometria/700/normal/font";

@mixin font_geometria {
  font-family: Geometria, sans-serif;
}

@mixin font_default() {
  @include font_geometria;
}

@mixin  font-size($fs, $lh) {
  font-size: $fs;
  line-height: $lh;
}